# project
.eslintcache
.prettierignore
.DS_Store
dist
.env
node_modules
.vscode
 
# files i wanna ignore
private
archivedTickets
archiveDownload
src/utils/baResponses.json
src/utils/jobApplications.json
src/commands/handlers/botsetup

# cogdeck (still in development)
src/cogdeck
src/commands/builders/cogdeck.ts
src/commands/handlers/cogdeck.ts
src/commands/handlers/cogdeck
src/typeorm/entities/cogdeck